* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/***************** HEADER  *******************/
header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #011f26;
  border-bottom: 3px solid rgb(233, 64, 64);
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #f2a71b;
  font-size: 1.5rem;
}
.title span {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: rgb(233, 64, 64);
  text-shadow: 4px;
  font-family: "Dancing Script", cursive;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar a {
  font-size: 1.5rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #f2a71b;
}

.navbar a.active {
  color: rgb(233, 64, 64);
  font-weight: bold;
}

/***************** MAIN  *******************/

/***************** IMAGE ***************/

.image {
  background-image: url(./img/porsche.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 60vh;
}

.image-about {
  background-image: url(./img/Screenshot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
}

.blur {
  margin-top: 3rem;
  color: rgb(242, 242, 242);
  padding: 0 2rem;
  border-radius: 30px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 10px rgba(157, 141, 141, 0.7);
}

.text {
  text-align: center;
}
.text h1 {
  margin-top: 0.5rem;
  font-size: 60px;
}

.text p {
  margin-top: 0.5rem;
  font-weight: bold;
}
.text {
  font-family: Impact;
  background-image: linear-gradient(
    90deg,
    rgb(233, 64, 64),
    #f2a71b,
    rgb(233, 64, 64)
  );
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  from {
    background-position: -500% 0;
  }

  to {
    background-position: 500% 0;
  }
}

/*************** IMAGE BOTTOM **************/

.image-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #011f26;
}

.input-button {
  text-align: right;
  padding-right: 5rem;
}

button {
  background-color: rgb(233, 64, 64);
  color: white;
  padding: 0 15px;
}

/*************** INFO SECTION **************/

.info {
  display: flex;
  justify-content: space-evenly;
  background-color: #a5a692;
  text-align: center;
  padding: 2rem;
}

.col-3 img {
  height: 4rem;
  margin-bottom: 1rem;
}

.col-3 h1 {
  margin-bottom: 1rem;
}

/*************** DANCING **************/

.body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-container {
  width: 12rem;
  height: 12rem;
  font-family: "Acme";
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #011f2683;
}

.para-container p {
  background-image: url("https://static.wikia.nocookie.net/f05bcfd2-cb01-4918-b55b-2398ade08213/scale-to-width/755");
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center top;
  font-weight: bolder;
  font-family: helvetica;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*************** FOOTER **************/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: #011f26;
  border-top: 3px solid rgb(233, 64, 64);
  height: 5rem;
}

footer a {
  font-weight: bold;
  margin-left: 0.5rem;
  color: rgb(233, 64, 64);
  text-shadow: 4px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

/*! =============== ABOUT HTML ==================== */

.main {
  display: flex;
  justify-content: space-evenly;
  background-color: #a5a692;
  text-align: center;
  font-family: "Dancing Script", cursive;
  text-align: left;
  padding: 2rem;
}

.about {
  padding: 2rem;
}
.about h4 {
  margin-bottom: 1rem;
}

.about .dark {
  background-color: #011f26c9;
  color: #f2a71b;
  padding: 20px 10px;
  box-shadow: 0px 5px 5px #011f26;
}

.text-dark {
  padding: 2rem;
  color: white;
  padding-bottom: 1rem;
  background-color: #011f26c9;
  box-shadow: 0px 5px 5px #011f26;
}
.text-dark h4,
.text-dark p {
  color: #f2a71b;
}

/*! =============== SERVİCES HTML ==================== */
.image-services {
  background-image: url(./img/Screenshot-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 40vh;
}

.main_services {
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script", cursive;
  text-align: left;
  padding: 2rem;
  background-color: #a5a692;
}

.infos {
  background-color: #bfb78f;
  box-shadow: 0px 5px 5px #011f2683;
  color: #011f26;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form {
  background-color: #011f26c9;
  height: 420px;
  padding: 20px 10px;
  box-sizing: border-box;
  color: #f2a71b;
  box-shadow: 0px 5px 5px #011f2683;
}

.form .btn {
  width: 7rem;
  margin-top: 1rem;
  background-color: rgb(233, 64, 64);
  border: none;
  box-shadow: 0px 5px 5px #011f2683;
}
